*{
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    box-sizing: border-box;
}
body{
    margin: 0 auto;
}
/* header section start */
.header{
    width: 1280px;
    margin: 0 auto;
    /* background-color: gray; */
}
.logo-nav{
    display: flex;
    align-items: center;
    gap: 40%;
    height: 120px;
}
.logo{
    padding-top: 40px;
    text-align: center;
    font-size: 26px;
}
.nav-bar{
    padding-left: 45px;
    padding-top:47px;
}
.header-text{
    margin-top: 36px;
    text-align: center;
}
.header-text h3{
    margin-bottom: 10px;
}
.header-text span{
    font-size: 12px;
    color: #888888;
    margin-top: 20px;
}
/* header section end */

/* main section start */
main{
    width: 880px;
    margin: 0 auto;
}
/* main section part-1 start */
.main-bg img{
    width: 880px;
    height: 300px;
    margin-top: 38px;
}
.main-text-part1{
    margin-top: 20px;
    margin-bottom: 30px;
    line-height: 25px;
    text-align: justify;
}
.main-text-part2{
    line-height: 25px;
}
/* main section part-1 end */

/* main section part-2 start */
.social-icon{
    margin-top: 50px;
    display: flex;
    justify-content: center;
    gap: 10px;
}
.social-icon a{
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: gray;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}
.social-icon i{
    color: black;
}
/* main section part-2 end */

/* main section part-3 start */
.text-area{
    margin-top: 50px;
}
.text-area h3{
    text-align: center;
}
textarea{
    width: 100%;
    background-color: #D0D0D0;
    resize: none;
    margin-top: 15px;
}
.comment-btn{
    margin-top: 22px;
    text-align: right;
    /* display: inline-block; */
    /* float: right; */
}
.comment-btn button{
    color: white;
    border: none;
    padding: 12px 30px;
    font-weight: bold;
    cursor: pointer;
    background-color: #555555;
}
/* main section part-3 end */
/* main section part-4(comment section) start */
.comment-section{
    margin-top: 60px;
}
.comment{
    display: flex;
    align-items: center;
    
}
.comment img{
    width: 5%;
}
.comment p{
    background-color: #f1f1f1;
    padding: 10px;
    margin-left: 20px;
    border-radius: 20px;
}
.comment-part span{
    margin-left: 80px;
    font-size: 12px;
    color: #888888;
}
.middle-comment{
    margin: 30px 0px;
}
/* main section part-4 (comment section) end */

/* main section part-5 (blog section) start */
.other-blog{
    margin-top: 110px;
}
.blog-title{
    text-align: center;
    padding: 20px;
}
.blogs-part{
    display: flex;
    gap: 20px;
    cursor: pointer;
}
.blog-img img{
    width: 300px;
    height: 190px;
}
/* main section part-5 (blog section) end */

/* footer section start */
.footer p{
    text-align: center;
    margin-top: 50px;
    color: #888888;
    font-style: 12px;
    margin-top: 70px;
    margin-bottom: 90px;
}
/* footer section end */